:root {
	--space-3xs: clamp(0.38rem, calc(0.34rem + 0.18vw), 0.5rem);
    --space-2xs: clamp(0.5rem, calc(0.43rem + 0.37vw), 0.75rem);
	--space-xs: clamp(0.63rem, calc(0.51rem + 0.55vw), 1rem);
    --space-s: clamp(1rem, calc(0.85rem + 0.74vw), 1.5rem);
    --space-m: clamp(1.38rem, calc(1.19rem + 0.92vw), 2rem);
}

.ck {
	--ck-border-radius: var(--space-3xs);
}

.ck.ck-content.ck-editor__editable_inline {
	--ck-border-radius: var(--space-2xs);
}

.custom-editor-button {
	display: inline-block;
    padding: 0.45rem .75rem;
    background-color: transparent;
    font-weight: 700;
    border-radius: var(--space-3xs);
    cursor: pointer;
	text-decoration: none;
    text-align: center;
	border: 1px solid var(--ck-color-base-border);
    transition-property: background-color, color;
    transition-duration: 0.15s;
}

.custom-editor-button--fill {
	color: white;
	background-color: black;
	border-color: black;
}

.custom-editor-button--disabled {
	opacity: 0.4;
	pointer-events: none;
}

.custom-editor-button:not( .custom-editor-button--disabled, .custom-editor-button--fill ):hover {
	background-color: #eee;
}

.editor-toolbar {
	background: white;
	border-radius: var(--space-2xs);
	display: flex;
	flex-flow: row wrap;
	gap: var(--space-3xs);
	margin-bottom: var(--space-xs);
	padding: var(--space-xs);
	position: sticky;
	top: 0;
	width: 100%;
	border: 1px solid var(--ck-color-base-border);
}
