body,
html {
	margin: 0;
	padding: 0;
}

/* Fix for global Nova css reset in _reset.scss file (for correct display editor toolbar icons). */
.mobile-iframe .ck.ck-editor .ck-toolbar svg.ck.ck-icon {
	max-width: initial;
}

/* Set minimal height for editor content to fit the whole space of smartphone placeholder */
.mobile-iframe .ck.ck-editor .ck.ck-editor__main .ck-content {
	min-height: 804.5px;
}

.mobile-iframe .ck.ck-editor .ck.ck-editor__main .ck-content blockquote:not([class]),
.mobile-iframe .ck.ck-editor .ck.ck-editor__main .ck-content li,
.mobile-iframe .ck.ck-editor .ck.ck-editor__main .ck-content p {
	max-width: 100%;
}

/* Set heading dropdown label width narrower width to fit Todo list in main toolbar */
.mobile-iframe .ck.ck-editor .ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
	width: 70px;
}

/* Set max-width for nested toolbar */
.mobile-iframe .ck.ck-editor .ck.ck-toolbar-dropdown > .ck-dropdown__panel {
	max-width: 90vw;
}

/* Set smaller heading sizes in editors content */
.mobile-iframe .ck.ck-content h1 {
	font-size: 1.6em;
}

.mobile-iframe .ck.ck-content h2 {
	font-size: 1.45em;
}

.mobile-iframe .ck.ck-content h3 {
	font-size: 1.3em;
}

.mobile-iframe .ck.ck-content h4 {
	font-size: 1.22em;
}

.mobile-iframe .ck.ck-content h5 {
	font-size: 1.06em;
}

.mobile-iframe .ck.ck-content h6 {
	font-size: 1em;
}

@media screen and (max-width: 460px) {
	.mobile-iframe .ck.ck-editor .ck.ck-editor__main .ck-content {
		height: calc(100vh - 39.5px);
	}
}
