/* Global box-sizing set */
*, ::after, ::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* body, html reset */
body,
html {
	margin: 0;
	padding: 0;
}

/* Page styles */

.editor-wrapper {
	max-width: 66rem;
	margin: 0 auto 2rem auto;
}

.header-wrapper {
	padding: 1rem 2rem;
}

.ck.ck-content:not(:focus) {
	border: 1px solid var(--ck-color-base-border);
}

.ck.ck-content:not(.ck-style-panel *) {
	min-height: 300px;
	padding: 1em 1.5em;
}

.ck.ck-content.ck-editor__editable_inline > :first-child {
	margin-top: 0;
}

/* Demo content styles */

.ck-content {
	padding: 0 1.5em;
	font-family: Helvetica, sans-serif;
}

.ck-content h1 {
	font-size: 2.3em;
}

.ck-content h2 {
	font-size: 1.84em;
}

.ck-content h3 {
	font-size: 1.48em;
}

.ck-content h4 {
	font-size: 1.22em;
}

.ck-content h5 {
	font-size: 1.06em;
}

.ck-content h6 {
	font-size: 1em;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
	line-height: 1.2em;
	padding-top: .8em;
	margin-bottom: .4em
}

.ck-content blockquote,
.ck-content ol,
.ck-content p,
.ck-content ul {
	font-size: 1em;
	line-height: 1.6em;
	padding-top: .2em;
	margin-bottom: var(--ck-spacing-large)
}

.ck-content a {
	text-decoration: none;
	color: #1b3af2;
}

.ck-content a:hover {
	text-decoration: underline;
}
