#inline-header,
#inline-main,
#inline-footer-first,
#inline-footer-second {
	/*
		Here we unset min-height in each inline editor. By defualt it was 300px, so it looks ugly when in
		editor is only few lines of content like in Inline Editor so in that case we need to remove that
		min-height value.
	*/
	min-height: unset;
}

#inline-header,
#inline-main {
	margin-bottom: 20px;
}

.demo-row {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.demo-row__half {
	flex: 1 1 0;
}

#inline-footer-first,
#inline-footer-second {
	height: 100%;
}
